[submodule "awesome"]
	path = awesome
	url = git@github.com:/MassimoLauria/awesome.git
[submodule "xsession"]
	path = xsession
	url = git@github.com:/MassimoLauria/xsession.git
[submodule "vimperator"]
	path = vimperator
	url = git@github.com:/MassimoLauria/vimperator.git
[submodule "shell"]
	path = shell
	url = git@github.com:/MassimoLauria/shell.git
[submodule "emacs"]
	path = emacs
	url = git@github.com:/MassimoLauria/dotemacs.git
