#-*-muttrc-*-

# Basic actions
macro index,pager r "<reply>"
macro index,pager R "<group-reply>"
macro index,pager p "<recall-message>"
macro index,pager f "<forward-message>"
macro index,pager m "<mail>"


# Moving around in pager
set pager_stop=yes

macro pager <Up>    "<previous-line>"
macro pager <Down>  "<next-line>"
macro pager <Left>  "<previous-entry>"
macro pager <Right> "<next-entry>"
macro pager <PageDown> "<next-page>"
macro pager <PageUp>   "<previous-page>"

macro pager i    "<previous-line>"
macro pager k    "<next-line>"
macro pager j    "<previous-entry>"
macro pager l    "<next-entry>"
macro pager u    "<previous-thread>"
macro pager o    "<next-thread>"

macro pager <Esc>i  "<previous-page>"
macro pager <Esc>k  "<next-page>"
macro pager <Esc>j  "<previous-thread>"
macro pager <Esc>l  "<next-thread>"
macro pager <Esc>u  "<previous-thread>"
macro pager <Esc>o  "<next-thread>"

# Moving around in Index
macro index <Up>    "<previous-entry>"
macro index <Down>  "<next-entry>"
macro index <Left>  "<previous-entry>"
macro index <Right> "<next-entry>"
macro index <PageDown> "<next-page>"
macro index <PageUp>   "<previous-page>"

macro index i    "<previous-entry>"
macro index k    "<next-entry>"
macro index j    "<previous-entry>"
macro index l    "<next-entry>"
macro index u    "<previous-thread>"
macro index o    "<next-thread>"

macro index <Esc>i  "<previous-page>"
macro index <Esc>k  "<next-page>"
macro index <Esc>j  "<previous-page>"
macro index <Esc>l  "<next-page>"
macro index <Esc>u  "<previous-thread>"
macro index <Esc>o  "<next-thread>"



# Utility
macro index,pager <Tab> <pipe-entry>'urlview'<enter> 'Follow links with urlview'

# Mark all read
macro index .r "T.*\n;WN^t.*\n" "Mark all read"


# Archive/Delete/Save  (GMail oriented)
macro index,pager A "<delete-message>"         "Archive"
macro index,pager d "<save-message>=[Gmail].Cestino<enter>" "Move to trash"
macro index,pager U "<undelete-message>"                    "Undelete message"
macro index,pager s "<copy-message>"                        "Save the message"


# Spam/Ham  (GMail oriented)
macro index,pager S "<save-message>=[Gmail].Spam<enter>"  "Mark as Spam"
macro index,pager H "<save-message>=INBOX<enter>" "Mark as Ham (non Spam)"


# Goto mailboxes (GMail oriented)
bind editor <space> noop
macro index,pager gg "<change-folder>?<toggle-mailboxes>" "Torna alle Mailbox"
macro index,pager gi "<change-folder>=INBOX<enter>" "Posta in arrivo"
macro index,pager ga "<change-folder>=[Gmail].Tutti i messaggi<enter>" "Tutti i messaggi"
macro index,pager gs "<change-folder>=[Gmail].Posta inviata<enter>"    "Posta Inviata"
macro index,pager gd "<change-folder>=[Gmail].Bozze<enter>"            "Bozze"
macro index,pager g* "<change-folder>=[Gmail].Speciali<enter>"         "Speciali"



# I like to quit from browser
macro   browser q       '<exit><quit>'
# macro   index   q       '<change-folder>?<toggle-mailboxes>'


# Threads
macro index + "<collapse-thread>"  "Expand/Collapse this thread"
macro index <esc>+ "<collapse-all>" "Expand/Collapse all threads"

# vim: ft=muttrc
