# System utils (high priority)
keyring
pinboard
Pygments

#Back in time (high priority)
dbus-python
pyqt5

# Python devel
pyright
mypy
mypy-extensions
black
pylint
pyparsing
yapf
autopep8


# Other utils
youtube-dl

# JSON utils
jc
jq


# Packages for my python setup
manim
matplotlib
networkx<3.0
Pillow-SIMD
pybind11
scipy
Sphinx<6
sphinx-rtd-theme
sympy
tornado
urllib3

# Science/Teaching
thonny
ipython
jupyter
jupyterlab
notebook
numpy
pandas

# SAT solving
python-sat
cnfgen
z3-solver

# Local utils
ical2orgpy
pinboard
gdbgui
flashfocus

# ML / Quantum / Hype
# keras
# tensorflow
# torch
# qiskit
