<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>StandardOutPath</key>
	<string>.offlineimap.log</string>
	<key>StandardErrorPath</key>
	<string>.offlineimap-err.log</string>
	<key>EnvironmentVariables</key>
	<dict>
      <key>PATH</key>
      <string>/opt/local/bin:/sbin:/usr/sbin:/bin:/usr/bin</string>
    </dict>
    <key>Label</key>
    <string>offlineimap.daemon</string>
    <key>ProgramArguments</key>
    <array>
      <string>offlineimap</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>ServiceDescription</key>
    <string>IMAP mail downloader</string>
  </dict>
</plist>

