[Desktop Entry]
Version=1.0
Name=Emacs deamon
GenericName=Launch a new instance of Emacs daemon
#Exec=emacs --daemon
Exec=start-stop-daemon -d ~ -b -o -S -x /usr/bin/emacs -- --daemon
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Icon=/usr/share/icons/hicolor/scalable/apps/emacs23.svg
Type=Application
Terminal=false
Hidden=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Emacs Daemon
Name=Emacs Daemon
Comment[en_US]=An Emacs Server
Comment=An Emacs Server
Categories=Utility;Development;TextEditor;
