# -*- mode: sh -*-


# Classic, no more dark themes
include "/usr/share/themes/Clearlooks/gtk-2.0/gtkrc"

## Main font choices

gtk-font-name="DejaVu Sans 10"
style "user-font" {
	font_name = "DejaVu Sans 10"
}
widget_class "*" style "user-font"


## Toolbar

gtk-toolbar-style = GTK_TOOLBAR_BOTH
gtk-icon-sizes = "panel-menu=16,16:panel=16,16:gtk-menu=16,16:gtk-large-toolbar=16,16:gtk-small-toolbar=16,16:gtk-button=16,16"


## Menu

gtk-menu-bar-popup-delay=0 # let’s make
gtk-menu-popdown-delay=0 # the menus
gtk-menu-popup-delay=0 # speedier!!! No more sluggish!
gtk-menu-images = 1
gtk-can-change-accels=1 # to change shortcuts in menu

## Icon theme
gtk-icon-theme-name = "ubuntu-mono-light"
